.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  
  
}
.welcome{
font-size: 32px;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.teamList{
  background-color: rgba(0, 0, 255, 0.699);
}

.user-name{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-pic{
  border-radius: 150px;
  height: 100px;
  width: 100px;
}
.team-container{
  background-color: white;
  min-width: 320px;
  width: 350px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  height: min-content;
  margin: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.81);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.81);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.81);
}
.add-team-form{
  display: flex;
  flex-direction: column;
  
  margin: 30px;
}
.add-team-input{
  margin: 20px;
}
.button{
  height: 100px;
  width: 100px;
}


.team-poster{
  height: 300px;
  width: 350px;
  object-fit: cover;
}

.team-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-rating{
  font-size: 18px;
  margin-right: 5px;
}

.team-name{
  font-size: 24px;
  margin: 5px;
  max-width: 90%;
}

.team-summary{
  margin-top: 0px;
  margin: 10px;
}
.app {
  font-family: sans-serif;
  display: flex;
  width: 100vw;
 height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 20px; */
  
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  
  
  background-color: white;
justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}



.teamList{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.counter-container{
  display: inline-flex;
  gap: 15px;
  margin: 10px;
  padding: 20px;
  padding-left: 0%;
  margin-left: 0%;

}

.likes-dislikes:hover{
  background-color: brown;
}

.team-container:hover{
  transition: all 0.5s;
  transform: scale(1.05);
}

.team-show-button{
font-size: 15px;
}

.add-team{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 40px;
  margin-top: 20px;
  
  
}
.add-color{
  height: 30px;
  width: 300px;
  
}
.add-color-container{
  margin: 20px;
  
}
.like-dislike{
  margin: 0;
}
.NotFound{
  height: 560px;
  width: 1200px;
}
nav{
 font-size: 28px;
 display: flex;
 gap: 25px;
 margin: 20px;
 
}

.gamebox{
  background-color: white;
  color: black;
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  border: 1px solid black;
  cursor: pointer;
  }

  .board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: min-content;


    
  }

  .full-board{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;


  }
